<!DOCTYPE html>
<html>
  <head>
    <title>Currency Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

    <hr>
    <P><a href="/">Home</a></p>
    <P><a href="/about">About this site</a></P>
  </body>
</html>
